.archive-cat {
  font-size: $fontsize * 1.25;
  article {
    margin: 0;
    border-top: 1px dashed $fontcolor;
    &:last-child {
      border-bottom: 1px dashed $fontcolor;
    }
    .entry-meta p {
      padding-bottom: $padding * 2;
    }
  }
}
.archive-pagination {
  padding-top: $padding * 3;
  .number-pagination {
    a {
      text-decoration: none;
      &:visited {
        color: #090;
      }
    }
    .page-numbers {
      padding-right: $padding * 0.5;
    }
  }
}
