.front-page {
  h2 {
    font-weight: 100;
    font-size: $fontsize * 1.25;
  }
  p {
    font-size: $fontsize * 2.5;
  }
  .quote-btn {
    display: block;
    border: 2px solid $greenbrand;
    box-shadow: none;
    border-radius: none;
    color: $greenbrand;
    background-color: $bgcolor;
    text-shadow: none;
    font-size: $fontsize * 1;
    padding: $padding * 0.7 $padding * 2.2;
    @include desktop {
      margin: 0 auto;
    }
  }
}
