html,
body {
  background-color: $bgcolor;
  color: $fontcolor;
  font-weight: 100;
  // font-size: $fontsize;
  line-height: $lineheight;
  .site-content {
    width: 95%;
    margin: auto;
    @include desktop {
      width: 39%;
    }
  }
  a {
    color: $greenbrand;
  }
}
